.comment-list

  .comment-body,
  .comment-meta
    margin-bottom: $space

  .comment-author
    margin-bottom: $space * 0.5

  .comment-metadata
    color: $secondary-text-color
    font-size: $font-size-base * 0.8
    font-style: italic

  .comment-meta
    position: relative
    padding-left: 40px

  .avatar
    height: 32px
    left: 0
    position: absolute
    border-radius: 50%
    width: 32px

  .comment .comment
    margin-left: $space * 2

.comment-content a
  word-wrap: break-word

.commentlist .bypostauthor
  display: block

.comment-respond
  margin-top: $space
