.site-branding
  align-items: center
  display: flex
  margin-right: 40px
  text-decoration: none

  &__heading
    font-family: $font-family-base
    font-size: $font-size-base
    font-weight: 400
    line-height: $line-height-base
    margin: 0

  &__logo
    margin-right: 20px

  &__name
    display: block
    font-size: $font-size-base * 1.25
    font-weight 700
    max-width: 250px

  &__description
    display: inline-block
    font-size: $font-size-base * 0.875
    font-style: italic
    max-width: 250px

  &__link
    color: $primary-text-color
    text-decoration: none

    &:hover
      color: $primary-text-color

